#app-logo {
    width: 300px;
}

.radio-image {
    width: 45px;
}

.results {
    font-weight: bold;
}

.tie {
    color: rgb(167, 137, 0);
}

.won {
    color: green;
}

.lost {
    color: red;
}


.page-margin {
    padding: 20px;
}

.navbar-brand {
    margin-right: 20px;
    margin-left: 20px;
    font-size: medium;
}

.spacer-xs {
    padding: 5px;
}

.spacer-small {
    padding: 10px;
}

.spacer-medium {
    padding: 30px;
}

.stats-image {
    width: 80px;
}