/* Image sizing */

#app-logo {
    width: 300px;
}

.radio-image {
    width: 45px;
}

.stats-image {
    width: 80px;
}


/* Results styling */

.tie {
    color: rgb(167, 137, 0);
    font-weight: bold;
}

.won {
    color: green;
    font-weight: bold;
}

.lost {
    color: red;
    font-weight: bold;
}


/* Navigation bar styling */
.navbar-brand {
    margin-right: 20px;
    margin-left: 20px;
    font-size: medium;
}


/* Page margin and spacing */

.page-margin {
    padding: 20px;
}

.spacer-xs {
    padding: 5px;
}

.spacer-small {
    padding: 10px;
}

.spacer-medium {
    padding: 30px;
}


/* Hyperlink styling */

a {
    color: rgb(0, 10, 200);
}

a:hover {
    color: rgb(0, 17, 87);
}